<!-- @@master = ../layouts/default.html-->

<!-- @@block  =  head-css -->
<!-- index css -->
<link rel="stylesheet" href="assets/css/aboutus.css">
<!-- @@close -->

<!-- @@block = content -->
<div class="wrapper">
    <div class="section" id="section0">

    </div>

    <div class="section" id="section1">
        <div class="container">
            <div class="section-title">
                <div class="hr dark-blue"></div>
                <h2 class="dark-blueTxt">夢想特質</h2>
                <p>鯨魚有許多種類<br>他們各有不同的夢想特質<br>持續在自己的海域奮力 ——</p>
            </div>
            <div class="aboutImg">
                <ul>
                    <li><img src="assets/images/aboutus/about-img1.png" alt=""></li>
                    <li><img src="assets/images/aboutus/about-img2.png" alt=""></li>
                    <li><img src="assets/images/aboutus/about-img3.png" alt=""></li>
                    <li><img src="assets/images/aboutus/about-img4.png" alt=""></li>
                    <li><img src="assets/images/aboutus/about-img5.png" alt=""></li>
                    <li><img src="assets/images/aboutus/about-img6.png" alt=""></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="section" id="section2">
        <div class="container">
            <div class="section-title">
                <div class="hr light-blue"></div>
                <h2 class="light-blueTxt">發掘者們</h2>
                <p>鯨魚有許多種類<br>他們各有不同的夢想特質<br>持續在自己的海域奮力——</p>
            </div>
            <div class="aboutPerson">
                <ul>
                    <li><img src="assets/images/aboutus/person-img1.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img2.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img3.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img4.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img5.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img6.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img7.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img8.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img9.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img10.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img11.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img12.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img13.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img14.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img15.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img16.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img17.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img18.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                    <li><img src="assets/images/aboutus/person-img19.png" alt="">
                        <p class="title">AAA社長</p>
                        <p class="name">安安安</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section" id="section3">
        <div class="shareLink">
            <div class="container">
                <ul>
                    <li>
                        <a href="#" target="_blank"><img src="assets/images/icon-mail-w.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/foxconnscholarship/" target="_blank"><img src="assets/images/icon-facebook-w.svg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- footer -->
        <!-- @@include ../layouts/_footer.html -->
    </div>

</div>



<!-- @@close -->


<!-- @@block  =  head-js -->
<!-- article js -->
<script src="assets/js/aboutus.js"></script>
<!-- @@close -->