<!-- @@master = ../layouts/default.html-->

<!-- @@block  =  head-css -->
<!-- index css -->
<link rel="stylesheet" href="assets/css/article.css">
<!-- @@close -->

<!-- @@block = content -->

<div class="section kv" id="section0">
    <div class="kv-content"></div>
</div>
<div class="section" id="section1">
    <div class="gray-box">
        <div class="container">
            <div class="articleTitle">
                <div class="timeTag">2018.05.15</div>
                <h2 class="dark-blueTxt">鴻海培育科技人才 獎助學金擴大助弱勢學子</h2>
                <ul>
                    <li>來源｜ＯＯ新聞網</li>
                    <li>撰文｜ＯＯＯ</li>
                </ul>
            </div>
            <div class="articleContent">
                <div class="ACImg">
                    <img src="../../assets/images/article/articleConentImg1.jpg" alt="">
                    <p class="source">提供｜ＯＯＯ</p>
                </div>
                <div class="ACTxt">
                    <p>第二屆鴻海獎學鯨計畫延續去年特色，將具經濟困難但不符法令資格限制、無法申請清寒獎助金的優秀學生納入獎助資格範圍，今年進一步增修進修學士班申請資格辦法，讓更多因需要日間打工貼補生活而就讀夜間部的大專生也可申請逐夢。</p>
                    <p>此外，鴻海教育基金會今年也擴增設立碩博生可申請的鴻海科技獎學金，以培育更多科技人才、重視科技創新、支持科技研發，讓科技領域的有志青年積極研究發展科學領域專業，用科技改變社會問題與幫助全人類。</p>
                    <p>鴻海董事長郭台銘先前表示，隨著科技不斷推陳出新，未來世代將朝向智慧製造、人工智慧與大數據等趨勢邁進。科技正在改變世代、改變世界，希望培育更多科技人才，以創新、驚豔技術，為人類創造更美好生活。</p>
                    <p>鴻海教育基金會此次趕在期末考前公告申請辦法，希望學子們在期末考前全力衝刺，取得理想成績提高獲選機會。同時，也鼓勵學子在暑假期間能豐富自我進修、參與社會服務，相關內容可於申請書中提出實際行動參與及積極表現。</p>
                    <p>第二屆鴻海獎學鯨申請資格為中華民國民、就讀國內大專校院日間部及進修學士班，具學籍並於修業年限內的學生，申請時前一學年學業成績總平均70分以上，預計提供300名、每名10萬元獎學金。</p>
                    <p>鴻海科技獎學金申請資格則為中華民國國民、且就讀國內外大專校院碩、博士班的研究生，歷學年各學期學業平均成績逾80分，須提供指導教授同意書及論文研撰計畫表，研究發展項目涵蓋「雲、移、物、大、智、網＋機器人」方向，預計提供10名、每名25萬元獎學金。</p>
                    <p>鴻海教育基金會表示，第二屆鴻海獎學鯨將於8月20日至10月30日開放申請，逾期不予受理。更多詳細辦法、下載公告及申請書，可上「鴻海獎學鯨」官方臉書粉絲團，隨時更新最新消息及不定期分享申請須知提醒。</p>
                </div>
                <div class="ACImg">
                    <img src="../../assets/images/article/articleConentImg1.jpg" alt="">
                    <p class="source">提供｜ＯＯＯ</p>
                </div>
            </div>
            <div class="divider"></div>
            <div class="ExtendRead">
                <div class="section-title">
                    <h2 class="dark-blueTxt">延伸閱讀</h2>
                </div>
                <div class="ERReport">
                    <ul>
                        <li class="ERitem">
                            <a href="javascript:;">
                                <div class="ERimg"><img src="assets/images/sch2017/otherRaportImg01.jpg" alt=""></div>
                                <p class="ERTxt">鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
                            </a>
                        </li>
                        <li class="ERitem">
                            <a href="javascript:;">
                                <div class="ERimg"><img src="assets/images/sch2017/otherRaportImg01.jpg" alt=""></div>
                                <p class="ERTxt">鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
                            </a>
                        </li>
                        <li class="ERitem">
                            <a href="javascript:;">
                                <div class="ERimg"><img src="assets/images/sch2017/otherRaportImg01.jpg" alt=""></div>
                                <p class="ERTxt">鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
                            </a>
                        </li>
                        <li class="ERitem">
                            <a href="javascript:;">
                                <div class="ERimg"><img src="assets/images/sch2017/otherRaportImg01.jpg" alt=""></div>
                                <p class="ERTxt">鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
                            </a>
                        </li>
                        <li class="ERitem">
                            <a href="javascript:;">
                                <div class="ERimg"><img src="assets/images/sch2017/otherRaportImg01.jpg" alt=""></div>
                                <p class="ERTxt">鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
                            </a>
                        </li>
                        <li class="ERitem">
                            <a href="javascript:;">
                                <div class="ERimg"><img src="assets/images/sch2017/otherRaportImg01.jpg" alt=""></div>
                                <p class="ERTxt">鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
                            </a>
                        </li>
                        <li class="ERitem">
                            <a href="javascript:;">
                                <div class="ERimg"><img src="assets/images/sch2017/otherRaportImg01.jpg" alt=""></div>
                                <p class="ERTxt">鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
                            </a>
                        </li>
                        <li class="ERitem">
                            <a href="javascript:;">
                                <div class="ERimg"><img src="assets/images/sch2017/otherRaportImg01.jpg" alt=""></div>
                                <p class="ERTxt">鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
                            </a>
                        </li>
                        <li class="ERitem">
                            <a href="javascript:;">
                                <div class="ERimg"><img src="assets/images/sch2017/otherRaportImg01.jpg" alt=""></div>
                                <p class="ERTxt">鴻海教育基金會自公告申請辦法以來，超過百萬人次關注此計畫</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section" id="section3">
    <div class="section3Bg">
        <div class="shareLink">
            <div class="container">
                <ul>
                    <li>
                        <a href="#" target="_blank"><img src="assets/images/icon-mail-w.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/foxconnscholarship/" target="_blank"><img src="assets/images/icon-facebook-w.svg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- footer -->
    <!-- @@include ../layouts/_footer.html -->
</div>


<!-- @@close -->


<!-- @@block  =  head-js -->
<!-- article js -->
<script src="assets/js/article.js"></script>
<!-- @@close -->